.button {
  display: block;
  width: 100%;
  padding: 12px 0 12px 0;
  border: 2px solid $gray;
  color: $gray;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
