.modal-form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form__title {
  padding: 0;
  text-align: center;
  line-height: 30px;
}

.modal-form__list {
  @include reset-list;
  margin: 21px auto;
  margin-bottom: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .control__input[type="radio"]:checked + .control-mark {
    outline: 2px solid #63d1bb;
  }
}

.modal-form__item {
  width: 82px;
  height: 52px;
  border: 2px solid #ededed;
}

.control {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.control-modal {
  padding: 0;
}

.control-mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.control-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.product-modal__button {
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #63d1bb;
    border: 2px solid #63d1bb;
  }
}
